body {
	background: #071633;
	margin-top: 33px;
}

.display-luna {
  display: flex;
  justify-content: center;
}

.display-estrellas {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: radial-gradient(rgb(255, 255, 255), #439dbd, rgb(30, 144, 255));
}

.estrellas {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: white;
  border-radius: 50%;
}
